# App
ORIGIN="http://localhost:5173"

# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# Supabase Auth
PUBLIC_SUPABASE_URL="supabase_url"
PUBLIC_SUPABASE_ANON_KEY="supabase_anon_key"
