:root {
    --border: #2a2e35;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('/fonts/Instrument_Sans.ttf') format('truetype');
    font-weight: 400;
    font-style: swap;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url('/fonts/DMSerifDisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: swap;
}

body {
    background: #0b0d0f;
    color: #c8d0da;
    font-family: "Instrument Sans";
}

body::after {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(var(--border) 1px, transparent 1px), linear-gradient(90deg, var(--border) 1px, transparent 1px);
    background-size: 80px 80px;
    opacity: 0.15;
    pointer-events: none
}
